{:specific? true
 :user (System/getenv "USER")
 :override? false
 :merged {:base true
          :deep false}
 :json? false
 :bar {:specific? true
       :user (System/getenv "USER")
       :override? false
       :merged {:base true
                :deep false}
       :json? false}}
